{% extends "base.html" %}

{% block description %}{{index.description}}{% endblock %}
{% block canonical %}https://smallwat3r.com/{% endblock %}
{% block title %}{{index.title}}{% endblock %}

{% block meta %}
    <meta property="og:site_name" content="smallwat3r">
    <meta property="og:title" content="{{index.title}}">
    <meta property="og:description" content="{{index.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://smallwat3r.com/">
{% endblock %}

{% block structured_data %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Matt Petiteau",
      "url": "https://smallwat3r.com",
      "email": "matt@smallwat3r.com",
      "sameAs": [
        "https://github.com/smallwat3r",
        "https://www.linkedin.com/in/matthieupetiteau"
      ]
    }
    </script>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="index.css">
{% endblock %}

{% block body_class %} class="index"{% endblock %}

{% block body %}
    <div class="container">
    <div class="about-link"><a href="about.html">about</a></div>
{{index.body}}
    <div class="tags-filter">
{% for tag in tags %}
      <button class="tag-btn" data-tag="{{ tag }}">{{ tag }}</button>
{% endfor %}
    </div>
    <ul>
{% for post in posts %}
      <li data-tags="{{ post.tags | join(',') }}">
        <a href="{{ post.path }}">{{ post.title }}</a>
        <span class="post-tags">
{% for tag in post.tags %}
          <span class="post-tag">{{ tag }}</span>
{% endfor %}
        </span>
        <span class="date">{{ post.date | date_display }}</span>
      </li>
{% endfor %}
    </ul>
    {% include "partials/footer.html" %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="index.js"></script>
{% endblock %}
